.footer
  .line-3
  .footer-inner
    .container
      ul
        li Адрес: г.Москва, ул. Тверская, д.1, офис №1
        li Телефон: 8 (495) 644 74 64
        li E-mail: info@trerim.ru
      .left
        p © ООО"Третий Рим"-Нумизматический интернет-аукцион
      .right
        |Разработка сайта: 
        a(href="") Mi studio