.header
  .login
    .container
      .left
        p.title Вход в Личный кабинет
      .right
        form
          label Логин
            input(type="text")
          label Пароль
            input(type="text")
            a(href="#") Восстановить пароль
          button Вход 
            img(src="images/strelka.png")
        p.close Закрыть
  .header-inner
    .menu
      .container
        .time
          p 20 мая 2015 / 12:04:51
        .menu-inner
          ul
            li 
              img(src="images/user.png")
              a(href="registration.html") Регистрация
            li
              img(src="images/key.png")
              span.lk Личный кабинет
            li 
              img(src="images/korzina.png")
              a(href="") Корзина
    .line
    .main-header
      .container
        .left 
          .logo
            a(href="index.html")
              img(src="images/logo.png")
        .right 
          .info
            p.number 8 (495) 644 74 64
            p.email info@trerim.ru
          nav
            a.home(href="home.html") Главная
            select.auction(onchange="document.location=this.options[this.selectedIndex].value")
              option(disabled selected) Аукционы
              option(value="archive.html") Архив
            select.about
              option(disabled selected) Об интернет-аукционе
              option(value="opt2_1")
                a(href="") Новости
              option(value="opt2_2")
                a(href="") Оплата и доставка
              option(value="opt2_3")
                a(href="") Правила
            a.contacts(href="") Контакты
            select.store
              option(disabled selected) Магазин
              option(value="opt3_1")
                a(href="") Правила
    .line-2