.static-text
  .container
    p Нумизматические интернет-аукционы в настоящее время обретают все большую популярность как площадки, где можно купить или продать монеты из драгоценных металлов. Интернет-аукцион удобен ввиду его дистанционности — пользователям необязательно присутствовать лично при проведении торгов. К тому же довольно часто на нумизматических интернет-аукционах выставляются действительно интересные монеты, которые желал бы получить любой серьезный коллекционер.
    p Основным приоритетом интернет-аукциона «Аргентум» являются честные сделки купли-продажи монет. На нашем аукционе покупатели платят именно ту сумму, которую планировали заплатить за интересующий лот, а продавцы зарабатывают столько, сколько стоят предлагаемые ими монеты.Торги на нумизматическом интернет-аукционе «Аргентум» проводятся раз в две недели, минимальный шаг торгов составляет всего два процента, участники могут также воспользоваться системой автоматических ставок.
    p Администрация аукциона тщательно следит за порядочностью всех участников торгов. Наш аукцион первым в России начал использовать при регистрации подтверждение личности через мобильный телефон.
