doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="stylesheets/slick.css")
  meta(charset="utf-8")
  title Prototype

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="javascripts/slick.min.js")


  script.
    require('initialize');
    require('main');


body
  .login
    .container
      h1 Вход в Личный кабинет
      form.form1(action="" name="login")
        h2.txt1 Логин
        input.name(type="text" name="name")
        h2.txt2 Пароль
        input.password(type="password" name="pas")
        input.button(type="submit" name="log" value="Вход ›")
      a(href="" class="recovery") Восстановить пароль
      p.close Закрыть
  .header
    .container
      .navigationOne
        .date
        nav
          .imageReg 
          a.registration(href="registration.html") Регистрация
          .imagePers
          a.personalArea Личный кабинет
          .imageTrash
          a.trash(href="") Корзина
      .navigationTwo
        .cont
        .logo
        nav
          a.home(href="index.html") Главная
          select.auction(onchange="document.location=this.options[this.selectedIndex].value")
            option(disabled selected) Аукционы
            option(value="archive.html") Архив
          select.about(onchange="document.location=this.options[this.selectedIndex].value")
            option(disabled selected) Об интернет аукционе
            option(value="opt2_1")
              a(href="") Новости
            option(value="opt2_2")
              a(href="") Оплата и доставка
            option(value="opt2_3")
              a(href="") Правила
          a.contacts(href="") Контакты
          select.store(onchange="document.location=this.options[this.selectedIndex].value")
            option(disabled selected) Магазин
            option(value="opt3_1")
              a(href="") Правила
  
  .blockArch
    .container
      .nameAuction
        h2 Аукцион №6
        p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
      .slider1(class="slider")
        .slide1(class="slide")
          .image1
          p Ефимок с признаком 1655 г.
        .slide2(class="slide")
          .image2
          p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
        .slide3(class="slide")
          .image3
          p Полтина 1705 г.
        .slide4(class="slide")
          .image4
          p 5 копеек
      a(href="") и еще 51
      .transp
      .nameAuction
        h2 Аукцион №6
        p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
      .slider1(class="slider2_2")
        .slide1(class="slide")
          .image1
          p Ефимок с признаком 1655 г.
        .slide2(class="slide")
          .image2
          p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
        .slide3(class="slide")
          .image3
          p Полтина 1705 г.
        .slide4(class="slide")
          .image4
          p 5 копеек
      a(href="") и еще 51
      .transp
      .nameAuction
        h2 Аукцион №6
        p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
      .slider1(class="slider3")
        .slide1(class="slide")
          .image1
          p Ефимок с признаком 1655 г.
        .slide2(class="slide")
          .image2
          p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
        .slide3(class="slide")
          .image3
          p Полтина 1705 г.
        .slide4(class="slide")
          .image4
          p 5 копеек
      a(href="") и еще 51
      .transp
      .nameAuction
        h2 Аукцион №6
        p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
      .slider1(class="slider4")
        .slide1(class="slide")
          .image1
          p Ефимок с признаком 1655 г.
        .slide2(class="slide")
          .image2
          p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
        .slide3(class="slide")
          .image3
          p Полтина 1705 г.
        .slide4(class="slide")
          .image4
          p 5 копеек
      a(href="") и еще 51
      .transp
      .nameAuction
        h2 Аукцион №6
        p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
      .slider1(class="slider5")
        .slide1(class="slide")
          .image1
          p Ефимок с признаком 1655 г.
        .slide2(class="slide")
          .image2
          p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
        .slide3(class="slide")
          .image3
          p Полтина 1705 г.
        .slide4(class="slide")
          .image4
          p 5 копеек
      a(href="") и еще 51
      .transp



  .footer
    .container
      table
        tr 
          td Адрес: г.Москва, ул. Тверская, д.1 офис №1
          td Телефон: 8(495)644 74 64
          td E-mail: info@trerim.ru
      p © ООО"Третий Рим"-Нумизматический интернет-аукцион
      a(href="") Разработка сайта: Mi studio
