doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  include modules/_header.jade 
  .content
    .container
      p.title Текущие аукционы:
      .auction-now
        .info
          .background
            a(href="").title Аукцион №6
            p Лотов:
              span 55
            p Открытие: 
              span 18.05.2015
            p Закрытие: 
              span 21.05.2015 
            p Редкие монеты:
              span 3 
        .coins-gallery
          .item
            img(src="images/moneta.png") 
            a(href="").description Ефимок с признаком 1655 г.
          .item
            img(src="images/moneta-2.png") 
            a(href="").description 2 рубля. Для дворцового обихода. Тираж - 8712.
          .item
            img(src="images/moneta-3.png")
            a(href="").description Полтина 1705 г.
          .item
            img(src="images/moneta-4.png")
            a(href="").description 5 копеек 1727 г. КД.
          .item
            img(src="images/moneta.png")
            a(href="").description Ефимок с признаком 1655 г.
          .item
            img(src="images/moneta-2.png") 
            a(href="").description 2 рубля. Для дворцового обихода. Тираж - 8712.
          .item
            img(src="images/moneta-3.png")
            a(href="").description Полтина 1705 г.
          .item
            img(src="images/moneta-4.png")
            p.description 5 копеек 1727 г. КД.
        .more-button
          a(href="") и еще 51
      hr

      p.title Прошедшие аукционы:
      .auction-end
        .info
          .background
            a(href="").title Аукцион №6
            p Лотов:
              span 55
            p Открытие: 
              span 18.05.2015
            p Закрытие: 
              span 21.05.2015 
            p Редкие монеты:
              span 3 
        .coins-gallery
          .item
            img(src="images/moneta.png") 
            a(href="").description Ефимок с признаком 1655 г.
          .item
            img(src="images/moneta-2.png") 
            a(href="").description 2 рубля. Для дворцового обихода. Тираж - 8712.
          .item
            img(src="images/moneta-3.png")
            a(href="").description Полтина 1705 г.
          .item
            img(src="images/moneta-4.png")
            a(href="").description 5 копеек 1727 г. КД.
          .item
            img(src="images/moneta.png")
            a(href="").description Ефимок с признаком 1655 г.
          .item
            img(src="images/moneta-2.png") 
            a(href="").description 2 рубля. Для дворцового обихода. Тираж - 8712.
          .item
            img(src="images/moneta-3.png")
            a(href="").description Полтина 1705 г.
          .item
            img(src="images/moneta-4.png")
            p.description 5 копеек 1727 г. КД.
        .more-button
          a(href="") и еще 51

  include modules/_static-text.jade  
  include modules/_footer.jade