doctype html
head
  meta(name="viewport" content="width=device-width")
  link(rel="stylesheet" href="stylesheets/app.css")
  link(rel="stylesheet" href="stylesheets/slick.css")
  meta(charset="utf-8")
  title Главная | Третий Рим

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")
  script(src="javascripts/slick.min.js")


  script.
    require('initialize');
    require('main');


body
  .login
    .container
      h1 Вход в Личный кабинет
      form.form1(action="" name="login")
        h2.txt1 Логин
        input.name(type="text" name="name")
        h2.txt2 Пароль
        input.password(type="password" name="pas")
        input.button.myClassForButton(type="submit" name="log" value="Вход")
        img.strelka(src="images/strelka.png")
      a(href="" class="recovery") Восстановить пароль
      p.close Закрыть
  .header
    .navigationOne
      .container
        .date
        nav
          .imageReg 
          a.registration(href="registration.html") Регистрация
          .imagePers
          a.personalArea Личный кабинет
          .imageTrash 
          a.trash(href="") Корзина
    .container
      .navigationTwo
        .cont
        a(href="index.html") 
          .logo
        nav
          a.home(href="home.html") Главная
          select.auction(onchange="document.location=this.options[this.selectedIndex].value")
            option(disabled selected) Аукционы
            option(value="archive.html") Архив
          select.about
            option(disabled selected) Об интернет-аукционе
            option(value="opt2_1")
              a(href="") Новости
            option(value="opt2_2")
              a(href="") Оплата и доставка
            option(value="opt2_3")
              a(href="") Правила
          a.contacts(href="") Контакты
          select.store
            option(disabled selected) Магазин
            option(value="opt3_1")
              a(href="") Правила
  .block1
    .container
      .section1
        h1 Текущие аукционы:
        .nameAuction
          h2 Аукцион №6
          p Лотов: 55<br>Открытие: 18.05.2015<br>Закрытие: 21.05.2015<br>Редкие монеты: 3
        .slider1
          .slide1(class="slide")
            a(href="")
              .image1
            p Ефимок с признаком 1655 г.
          .slide2(class="slide")
            a(href="")
              .image2
            p 2 рубля. Для дворцового<br>обихода. Тираж-8712.
          .slide3(class="slide")
            a(href="")
              .image3
            p Полтина 1705 г.
          .slide4(class="slide")
            a(href="")
              .image4
            p 5 копеек
        a(href="") и еще 51
        .transp
      .section2
        h1 Новости
        table
          tr.head
            td
              a(href="") Аукцион №7
            td
              a(href="") Редкая монета на Аукционе №6
            td
              a(href="") Редкая монета на Аукционе №4
          tr.txt
            td Откроется 21 июля.<br>Идет прием лотов, который завершится 10<br>июля.Успейте сдать свои монеты!<br>По вопросам обращайтесь по телефонам:<br>+7(495)644-74-64, или пишите на почту
            td 18.05.2015 На аукционе №6, на торги будет<br>выставлена редкая монета -"Пенязь" князя<br>Витовта, чеканки Смоленского княжества(ок.<br>1396-1399)!
            td 05.06.2014 На аукционе №170, на торги будет<br>выставлена редкая монета- Копейка 1854<br>года с вензелем Александра || с экспертным<br>заключением ГИМ(Ильин -40р., Петров-50р.<br>Биткин-R3)!
      .section3
        h1 Прошедшие аукционы
        .nameAuction
          h2 Аукцион №5
          p Лотов: 74<br>Открытие: 17.12.2014<br>Закрытие: 29.12.2014<br>Редкие монеты: 1
        .slider2
          .slide1(class="slide")
            a(href="")
              .image1
            p Копейка 1728 г.
          .slide2(class="slide")
            a(href="")
              .image2
            p Рубль 1731 г.
          .slide3(class="slide")
            a(href="")
              .image3
            p Денга 1731 г.
          .slide4(class="slide")
            a(href="")
              .image4
            p Рубль 1781
        a(href="") и еще 70
        .transp
        .nameAuction1
          h2 Аукцион №4
          p Лотов: 33<br>Открытие: 5.09.2014<br>Закрытие: 15.09.2014<br>Редкие монеты: 0
        .nameAuction2
          h2 Аукцион №3
          p Лотов: 102<br>Открытие: 17.08.2014<br>Закрытие: 25.08.2014<br>Редкие монеты: 0
        .nameAuction3
          h2 Аукцион №2
          p Лотов: 102<br>Открытие: 16.07.2014<br>Закрытие: 22.07.2014<br>Редкие монеты: 5
        .nameAuction4
          h2 Аукцион №1
          p Лотов: 27<br>Открытие: 29.04.2014<br>Закрытие: 10.05.2014<br>Редкие монеты: 2
      .section4
        h1 Последние поступления в интернет-магазине:
        .last1
          a(href="")
            .image1
          h2 1/2 копейки 1927 г.
          p 1/2 копейки 1927 г. Медь. Вес-1,60 г.<br> Сохранность -XF. Федоркин №2(20...
          .price Цена: 800 руб.
          a.more(href="") подробнее
        .last2
          a(href="")
            .image1
          h2 2 рубля 1994 г. "И.Репин". ММД.
          p Серебро 500 пробы. Вес(химически<br>чистый металл) 7,78 г. Сохранность...
          .price Оценка: 1 500 руб.
          a.more(href="") подробнее
        .last3
          a(href="")
            .image1
          h2 Копейка 1705 г.
          p Копейка 1705 г. МД. Медь. Вес - 7.71 г.<br> Сохранность - VF. Уездников №2274
          .price Оценка: 2 400 руб.
          a.more(href="") подробнее
  .block2
    .container
      p Нумизматические интернет-аукционы в настоящее время обретают все большую популярность как площадки, где можно купить или продать монеты из драгоценных металлов. Интернет-аукцион удобен ввиду его дистанционности — пользователям необязательно присутствовать лично при проведении торгов. К тому же довольно часто на нумизматических интернет-аукционах выставляются действительно интересные монеты, которые желал бы получить любой серьезный коллекционер.
      p Основным приоритетом интернет-аукциона «Аргентум» являются честные сделки купли-продажи монет. На нашем аукционе покупатели платят именно ту сумму, которую планировали заплатить за интересующий лот, а продавцы зарабатывают столько, сколько стоят предлагаемые ими монеты.Торги на нумизматическом интернет-аукционе «Аргентум» проводятся раз в две недели, минимальный шаг торгов составляет всего два процента, участники могут также воспользоваться системой автоматических ставок.
      p Администрация аукциона тщательно следит за порядочностью всех участников торгов. Наш аукцион первым в России начал использовать при регистрации подтверждение личности через мобильный телефон.

  .footer
    .container
      table
        tr 
          td Адрес: г.Москва, ул. Тверская, д.1 офис №1
          td Телефон: 8(495)644 74 64
          td E-mail: info@trerim.ru
      p © ООО"Третий Рим"-Нумизматический интернет-аукцион
      a(href="") Разработка сайта: Mi studio

  

