doctype html
head
  meta(name="viewport" content="width=device-width")

  link(rel="stylesheet" href="stylesheets/app.css")

  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');

body
  include modules/_header.jade 
  .content
    .container
      p.title Регистрация нового участника 
      .info-reg
        p.bolder Пожалуйста, заполняйте форму реальными данными, так как эти данные проверяются при активации и нужны при отправке Вам выигранных лотов по почте или курьерской службой. Правильно выбирайте регион!
        p Если Вам требуется доставка 1-м классом или ЕМС-службой, то к сумме лотов (с комиссией аукциона 10%) добавляется стоимость пересылки.
        p.italic 
          |ВНИМАНИЕ! Поля отмеченные звездочкой (
          span *
          |) являются обязательными для заполнения.
      form
        label
          .text
            span Ф. И. О.
            span.red * 
            span.lines - - - - - - - - - - - -
          input(type="text")
        label
          .text 
            span E-mail
            span.red * 
            span.lines - - - - - - - - - - - - -
          input(type="text")
        label
          .text
            span Регион
            span.red *
            span.lines - - - - - - - - - - - -
          select
            - for (var i=0;i<10;i++)
              option Выберите регион
           
        label 
          .text
            span Город
            span.red *
            span.lines - - - - - - - - - - - - -
          input(type="text")
        label
          .text 
            span Улица
            span.red * 
            span.lines - - - - - - - - - - - - -
          input(type="text")
        label 
          .text
            span Дом
            span.red * 
            span.lines - - - - - - - - - - - - - -
          input.little(type="text")
        label
          .text 
            span Корпус / строение  
            span.lines - - - - 
          input.little(type="text")
        label 
          .text
            span Квартира/офис 
            span.lines - - - - - - -
          input.little(type="text")
        label 
          .text
            span Почтовый индекс
            span.red * 
            span.lines- - - -  
          input.little(type="text")
        label 
          .text
            span Телефон
            span.red * 
            span.lines - - - - - - - - - - - 
          input(type="text")
        label 
          .text
            span Логин
            span.red * 
            span.lines- - - - - - - - - - - - - 
          input(type="text")
        label 
          .text
            span Пероль
            span.red * 
            span.lines- - - - - - - - - - - - 
          input(type="text")
        label 
          .text
            span Еще раз
            span.red * 
            span.lines - - - - - - - - - - - 
          input(type="text")
        label 
          span Я ознакомился  (-лась) с “
          a(href="#").rules Правила участия в торгах интернет-аукциона
          span ”
          span.red *
          input(type="checkbox").checkbox
        button.submit Зарегестрироваться
      p 
        |После регистрации письмо с подтверждением активации аккаунта будет выслано на Ваш e-mail. 
        br
        |Если у Вас возникли проблемы с регистрацией - звоните: 8 (495) 644 74 64

  include modules/_static-text.jade  
  include modules/_footer.jade