@import 'nib'

global-reset()

.strelka
  absolute top 62px left 1005px

.container
  position relative
  width 1280px
  margin 0 auto
  font-family sans-serif
  clearfix()
.login
  position relative
  background #232323
  min-width 1280px
  max-width 100%
  height 150px
  border-bottom 1px solid grey
  a
    &:hover
      color #fff
      border-color #fff
  h1
    position absolute
    color white
    letter-spacing 0.65px
    left 158px
    top 32px
    font-size 19px
  form
    h2
      position absolute
      color grey
      top 35px
      letter-spacing 1px
      font-size 15px
    .txt1
      left 460px
    .txt2
      left 700px
    input
      position relative
      left 460px
      top 56px
      padding 6px
      border none
      &:nth-child(4)
        margin-left 30px
        width 197px
        border-radius 5px
        height 18px
      &:nth-child(2)
        width 197px
        border-radius 5px
        height 18px
      &:nth-child(5)
        font-size 14px
        margin-left 24px
        padding 4px 34px 6px 16px
        letter-spacing 1px
        border-radius 50px
        background linear-gradient(to top, #e68400, #ffdfa8)
       
      
    .button
      outline none
      cursor pointer
      &:active
        background linear-gradient(to top, #ffcfa8, #e68400)
  a
    position absolute
    color #e68400
    left 700px
    top 105px
    font-size 14px
  p
    position absolute
    color #e68400
    border-bottom 1px #e68400 solid
    left 1065px
    top 23px
    cursor pointer
    font-size 14px
  .close 
    left 1061px
    padding-bottom 1px
    top 22px
    &:hover
      color #fff
      border-color #fff
  .recovery
    left 703px 
    top 105px
    text-decoration none
    border-bottom 1px #e68400 solid
    padding-bottom 1px 
.header
  position relative
  border-bottom 5px solid #e68400
  height 245px
  margin 0 auto
  min-width 1280px
  max-width 100%
  background url("../images/background-2.png") no-repeat
  background-position 50% 15%
  background-size cover
  box-shadow 0 -30px 20px -10px rgba(0,0,0,0.5)
  .navigationOne
    position relative
    background #232323
    height 50px
    .imageReg
      background url("../images/user.png") no-repeat center 
      width 25px
      height 25px
      position absolute
      left 650px
      top 10px
    .imagePers
      background url("../images/key.png") no-repeat center 
      width 25px
      height 25px
      position absolute
      left 823px
      top 10px
    .imageTrash
      background url("../images/korzina.png") no-repeat center 
      width 25px
      height 25px
      position absolute
      left 1025px
      top 10px
    a
      position relative
      color #e68400
      float left
      top 16px
      margin-left 682px
      font-size 15px
      text-decoration none
      font-weight 200
      letter-spacing 0.3px
      cursor pointer
      border-bottom 1px #e68400 solid
      padding-bottom 2px
      &:nth-child(4)
        margin-left 84px
        letter-spacing 0.6px
      &:nth-child(6)
        margin-left 84px
    a:hover
      color white
      border-bottom 1px white solid
       
    .date
      position absolute
      width 200px
      top 17px
      color white
      left 160px
      font-size 14px
  .navigationTwo
    position relative
    .cont 
      position absolute
      background url('../images/info.png') no-repeat center
      width 230px
      height 55px
      left 900px
      top 45px
    .logo
      position absolute
      background url("../images/logo.png") no-repeat center
      width 200px
      height 200px
      left 153px
      top 2px
      a 
        width 100%
        height 100%
    nav 
      position relative
      left 442px
      top 130px
      width 700px
      font-size 15px
      a
        padding 6px 10px 6px 10px
        border 1px solid #d1d1d1
        text-decoration none
        color black
        border-radius 4px
        &:hover
          border 1px solid #dd8c00
      select
        background transparent
        border-radius 4px
        border 1px solid #d1d1d1
        outline none
        cursor pointer
        &:hover
          border 1px solid #dd8c00
      .home 
        padding 6px 12px 6px 10px
      .auction
        width 125px
        letter-spacing 1px
        height 30px
        font-size 15px
        margin-left 5px
      .about
        height 30px
        font-size 15px
        width 220px
        margin-left 6px
        font-size 14px
        letter-spacing 1px
      .contacts
        margin-left 12px
        
        padding 5px 15px 6px 9px
      .store
        padding 5px 15px 5px 9px
        letter-spacing 1px
        height 30px
        font-size 15px
        margin-left 8px
.block1
  position relative
  min-width 1280px
  max-width 100%
  height 1225px  
  .section1
    position relative
    margin 0 auto
    width 960px
    height 274px
    border-bottom 1px solid grey
    h1
      position absolute
      top 30px
      font-size 20px
      color red
    .slider1
      position absolute
      width 700px
      left 160px
      top 80px
      height 170px
      a 
        top 0px
        left 0px
        position relative
        width 120px
        height 120px
      .image1
        background url("../images/moneta-4.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image2
        background url("../images/moneta-3.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image3
        background url("../images/moneta-2.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image4
        background url("../images/moneta.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .slide
        text-align center
      p 
        margin-top 5px
        font-size 12px
        line-height 20px
        
    .nameAuction
      position absolute
      background url("../images/rect1.png") no-repeat 100% 70%
      height 160px
      width 195px
      top 80px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
    .transp
      background rgba(255,255,255,0.6)
      position absolute
      width 20px 
      height 200px
      left 840px
      top 60px
      box-shadow -18px 0px 20px -8px rgba(0,0,0,0.5)
    a
      position absolute
      left 875px
      top 150px
      color black
      text-decoration none
      font-weight bold
      font-size 14px
  .section2
    position relative
    margin 0 auto
    width 960px
    height 197px
    border-bottom 1px solid grey
    h1
      position absolute
      color red
      font-size 20px
      top 19px
    table
      position absolute
      top 45px
      .head 
        height 30px
        a 
          color black
          text-decoration none
        td 
          font-weight bold
          font-size 14px
          font-style normal
      td 
        width 320px   
        line-height 20px
        font-size 13px  
        padding 0px 0px 0px 9px
        letter-spacing 0
        margin-left 30px
        font-style italic
      .txt
        td:first-child
          padding-top 5px
  .section3
    position relative
    margin 0 auto
    width 960px
    height 450px
    h1
      position absolute
      top 18px
      font-size 20px
      color red
    .slider2
      position absolute
      width 700px
      left 160px
      top 70px
      height 170px
      a 
        top 0px
        left 0px
        position relative
        width 120px
        height 120px
      .image1
        background url("../images/moneta-8.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image2
        background url("../images/moneta-7.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image3
        background url("../images/moneta-6.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .image4
        background url("../images/moneta-5.png") no-repeat center
        background-size cover
        margin-top 5px
        width 120px
        height 120px
        margin 0 auto
      .slide
        text-align center
      p 
        margin-top 5px
        font-size 12px
        line-height 20px
        
    .nameAuction
      position absolute
      background url("../images/rect.png") no-repeat center
      height 160px
      width 190px
      top 68px
      left 0px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
    .transp
      background rgba(255,255,255,0.6)
      position absolute
      width 20px 
      height 200px
      left 840px
      top 45px
      box-shadow -18px 0px 20px -8px rgba(0,0,0,0.5)
    a
      position absolute
      left 875px
      top 140px
      color black
      text-decoration none
      font-weight bold
      font-size 14px
    .nameAuction1
      position absolute
      background url("../images/rect.png") no-repeat center
      height 160px
      width 190px
      top 266px
      left 750px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
    .nameAuction2
      position absolute
      background url("../images/rect.png") no-repeat center
      height 160px
      width 190px
      top 266px
      left 500px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
    .nameAuction3
      position absolute
      background url("../images/rect.png") no-repeat center
      height 160px
      width 190px
      top 266px
      left 250px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
    .nameAuction4
      position absolute
      background url("../images/rect.png") no-repeat center
      height 160px
      width 190px
      top 266px
      z-index 1
      cursor pointer
      h2
        position relative
        font-size 14px
        text-decoration underline
        font-weight bold
        top 15px
        left 8px
      p 
        position relative
        top 30px
        left 8px
        line-height 20px
        font-size 14px
  .section4
    position relative
    margin 0 auto
    width 960px
    height 302px
    h1
      position absolute
      top 18px
      font-size 20px
      color red
    a 
      position absolute
      top 0px
      left 0px
      height 120px
      width 100%
    .last1
      position absolute
      top 60px
      left 17px
      width 278px
      border 2px solid #e68400
      height 208px
      text-align center
      .image1
        background url("../images/dvemoneti.png") no-repeat center
        height 120px
      h2
        position relative
        text-decoration underline
        top 122px
        font-size 13px
      p 
        position relative
        top 130px
        line-height 17px 
        font-size 13px 
      .price
        color red
        position absolute
        top 185px
        left 20px
        font-size 13px
      .more
        position absolute
        top 185px
        color black
        left 200px
        width 0px
        height 0px
        font-size 13px
      a:hover
        color #e68400
    .last2
      position absolute
      top 60px
      left 337px
      width 278px
      border 2px solid #e68400
      height 208px
      text-align center
      .image1
        background url("../images/dvemoneti-2.png") no-repeat center
        height 120px
      h2
        position relative
        text-decoration underline
        top 122px
        font-size 13px
      p 
        position relative
        top 130px
        line-height 17px 
        font-size 13px 
      .price
        color red
        position absolute
        top 185px
        left 20px
        font-size 13px
      .more
        position absolute
        top 185px
        color black
        left 200px
        width 20px
        height 5px
        font-size 13px
      a:hover
        color #e68400
    .last3
      position absolute
      top 60px
      left 657px
      width 278px
      border 2px solid #e68400
      height 208px
      text-align center
      .image1
        background url("../images/dvemoneti-3.png") no-repeat center
        height 120px
      h2
        position relative
        text-decoration underline
        top 122px
        font-size 13px
      p 
        position relative
        top 130px
        line-height 17px 
        font-size 13px 
      .price
        color red
        position absolute
        top 185px
        left 20px
        font-size 13px
      .more
        position absolute
        top 185px
        color black
        left 200px
        width 20px
        height 5px
        font-size 13px
      a:hover
        color #e68400    
.block2
  background linear-gradient(top, #fffbda, #fff)
  max-width 100%
  min-width 1280px
  height 283px
  .container 
    width 960px
    p
      font-size 14px
      margin-top 25px
      line-height 18px
  


.footer
  margin 0 auto
  background #232323
  height 90px
  color white
  table 
    position absolute
    font-size 13px
    left 305px
    top 20px
    td 
      border-right 2px solid #e68400 
      padding 0px 20px 0px 20px
    td:last-child 
      border none
  p 
    position absolute
    color #e68400
    top 51px 
    left 160px
    font-size 13px
  a
    position absolute
    color #e68400
    top 51px 
    left 955px
    font-size 13px

.block1Reg
  position relative
  height 868px   
  h2
    position absolute
    color red
    left 160px
    top 30px
    font-size 18px
  p 
    position absolute
    font-size 14px
    line-height 19px
    left 170px
    top 75px 
  .txt 
    left 170px
    top 158px
    font-style italic
    font-size 12px 
  form
    position absolute
    width 750px
    height 615px
    top 190px
    left 150px
    input
      position absolute
      border 1px solid #e68400
      padding 6px
      width 285px
      border-radius 5px
    .name
      top 0px
      left 215px
    .email
      top 40px
      left 215px
    select
      position absolute
      border 1px solid #e68400
      padding 6px
      width 300px
      border-radius 5px
      top 80px
      left 215px
      background white
    .Regcity
      top 120px
      left 215px
    .Regstreet
      top 160px
      left 215px
    .Reghouse
      top 200px
      left 215px
      width 85px
    .Reghousing
      top 240px
      left 215px
      width 85px
    .Regroom
      top 280px
      left 215px
      width 85px
    .Regpost
      top 320px
      left 215px
      width 85px
    .Regnumb
      top 360px
      left 215px
    .Reglog
      top 400px
      left 215px
    .Regpas
      top 440px
      left 215px
      width 185px
    .Regpasrep
      top 480px
      left 215px
      width 185px
    .button
      width 180px
      top 567px
      font-size 15px
      left 524px
      padding 6px 0px 6px 0px
      letter-spacing 1px
      border-radius 50px
      cursor pointer
      font-family: 'Calibri', sans-serif
      letter-spacing 0px
      background linear-gradient(to top, #e68400, #ffdfa8)
    .button:active
      background linear-gradient(to top, #ffcfa8, #e68400)
    .know
      position absolute
      top 530px
      left 5px
      font-size 13px  
    a   
      position absolute
      top 530px
      left 170px
      font-size 13px 
      color #e68400
    .regAgree
      position absolute
      top 529px
      left 480px
      background white  
      cursor pointer
      width 20px 
    .nam 
      top 8px
      left 10px
    .mail 
      left 10px 
      top 48px
    .region 
      left 10px 
      top 88px
    .city 
      left 10px 
      top 128px
    .street 
      left 10px 
      top 168px
    .house
      left 10px 
      top 208px
    .housing 
      left 10px 
      top 248px
    .room  
      left 10px 
      top 288px
    .post 
      left 10px 
      top 328px
    .phone
      left 10px 
      top 368px
    .log 
      left 10px 
      top 408px
    .pas 
      left 10px 
      top 448px
    .pasag 
      left 10px 
      top 488px
  .ps 
    top 800px
    font-size 13px
  .txt1
    top 196px
    left 680px  
    font-style italic
  .txt2
    top 276px
    left 680px 
    font-style italic
  .txt3
    top 316px
    font-style italic
    left 680px 
  .txt4
    top 555px
    font-style italic
    left 680px 
  .txt5
    top 596px
    font-style italic
    left 680px 
  .txt6
    top 636px
    font-style italic
    left 585px 
.popupOk
  position fixed
  top 0px
  min-width 100%
  max-width 100%
  height 100%
  background rgba(255,255,255,0.8)
  .content
    width 400px
    margin 0 auto
    height 200px
    position relative
    top 330px
    border 2px solid #e68400
    font-family sans-serif
    .closeOk
      position absolute
      color #e68400
      font-weight bold
      left 315px
      top 7px
      cursor pointer
    .txt1
      left 330px
      font-size 14px
      top 7px
      color black
      text-decoration underline
      font-weight normal
    p 
      position absolute
      top 50px
      left 100px
      font-size 13px
      font-weight bold
.popupErr
  position fixed
  top 0px
  min-width 100%
  max-width 100%
  height 100%
  background rgba(255,255,255,0.8)
  .content
    width 400px
    margin 0 auto
    height 200px
    position relative
    top 330px
    border 2px solid #e68400
    font-family sans-serif
    .closeErr
      position absolute
      color #e68400
      font-weight bold
      left 315px
      top 7px
      cursor pointer
    .txt1
      left 330px
      font-size 14px
      top 7px
      color black
      text-decoration underline
      font-weight normal
    p 
      position absolute
      top 50px
      left 100px
      font-size 13px
      font-weight bold

.blockArch
  height 1135px
  .slider1
    position absolute
    width 700px
    left 300px
    top 80px
    height 170px
    .image1
      background url("../images/moneta-4.png") no-repeat center
      background-size cover
      margin-top 5px
      width 120px
      height 120px
      margin 0 auto
    .image2
      background url("../images/moneta-3.png") no-repeat center
      background-size cover
      margin-top 5px
      width 120px
      height 120px
      margin 0 auto
    .image3
      background url("../images/moneta-2.png") no-repeat center
      background-size cover
      margin-top 5px
      width 120px
      height 120px
      margin 0 auto
    .image4
      background url("../images/moneta.png") no-repeat center
      background-size cover
      margin-top 5px
      width 120px
      height 120px
      margin 0 auto
    .slide
      text-align center
    p 
      margin-top 5px
      font-size 12px
      line-height 20px        
  .nameAuction
    position absolute
    background url("../images/rect.png") no-repeat center
    height 160px
    width 195px
    top 80px
    left 160px
    z-index 1
    cursor pointer
    h2
      position relative
      font-size 14px
      text-decoration underline
      top 15px
      left 8px
    p 
      position relative
      top 30px
      left 8px
      line-height 20px
      font-size 14px
  .transp
    background rgba(255,255,255,0.6)
    position absolute
    width 20px 
    height 200px
    left 840px
    top 60px
    box-shadow -18px 0px 20px -8px rgba(0,0,0,0.5)
  a
    position absolute
    left 1035px
    top 170px
    color black
    text-decoration none
    font-weight bold
    font-size 14px  
  .slider2_2
    top 290px